<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
    <title>Item detail</title>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <h1 class="title">Shop Info</h1>
        <h2 class="subtitle">{{ user.first_name }} - {{ user.last_name }}</h2>
        <h2>{{ user }}</h2>
        <a href="{{ url_for('save_user', user_id=user.user_id) }}"
           class="button is-primary">Follow Shop</a>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="title">{{ item.title }}</h1>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </body>
</html>
